In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Read the dataset

In [2]:
x_train = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_train_unit_sold.csv')
x_test = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_test_unit_sold.csv')
y_train = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/y_train_unit_sold.csv')
y_test = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/y_test_unit_sold.csv')

In [3]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 67 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month                       5842 non-null   int64
 1   Day                         5842 non-null   int64
 2   Gender                      5842 non-null   int64
 3   Price per Unit              5842 non-null   float64
 4   Retailer_Amazon             5842 non-null   int64
 5   Retailer_Foot Locker        5842 non-null   int64
 6   Retailer_Kohl's             5842 non-null   int64
 7   Retailer_Sports Direct      5842 non-null   int64
 8   Retailer_Walmart            5842 non-null   int64
 9   Retailer_West Gear          5842 non-null   int64
 10  Region_Midwest              5842 non-null   int64
 11  Region_Northeast            5842 non-null   int64
 12  Region_South                5842 non-null   int64
 13  Region_Southeast            5842 non-null   int64
 14  Region_West                 5842 non-null   int64
 15  Sales Method_In-store       5842 non-null   int64
 16  Sales Method_Online         5842 non-null   int64
 17  Sales Method_Outlet         5842 non-null   int64
 18  Product_ Apparel            5842 non-null   int64
 19  Product_ Athletic Footwear  5842 non-null   int64
 20  Product_ Street Footwear    5842 non-null   int64
 21  State_Alabama               5842 non-null   int64
 22  State_Alaska                5842 non-null   int64
 23  State_Arizona               5842 non-null   int64
 24  State_Arkansas              5842 non-null   int64
 25  State_California            5842 non-null   int64
 26  State_Connecticut           5842 non-null   int64
 27  State_Delaware              5842 non-null   int64
 28  State_Florida               5842 non-null   int64
 29  State_Georgia               5842 non-null   int64
 30  State_Hawaii                5842 non-null   int64
 31  State_Idaho                 5842 non-null   int64
 32  State_Illinois              5842 non-null   int64
 33  State_Indiana               5842 non-null   int64
 34  State_Iowa                  5842 non-null   int64
 35  State_Kansas                5842 non-null   int64
 36  State_Kentucky              5842 non-null   int64
 37  State_Louisiana             5842 non-null   int64
 38  State_Maine                 5842 non-null   int64
 39  State_Maryland              5842 non-null   int64
 40  State_Massachusetts         5842 non-null   int64
 41  State_Michigan              5842 non-null   int64
 42  State_Mississippi           5842 non-null   int64
 43  State_Missouri              5842 non-null   int64
 44  State_Montana               5842 non-null   int64
 45  State_Nebraska              5842 non-null   int64
 46  State_New Hampshire         5842 non-null   int64
 47  State_New Jersey            5842 non-null   int64
 48  State_New Mexico            5842 non-null   int64
 49  State_New York              5842 non-null   int64
 50  State_North Carolina        5842 non-null   int64
 51  State_North Dakota          5842 non-null   int64
 52  State_Ohio                  5842 non-null   int64
 53  State_Oklahoma              5842 non-null   int64
 54  State_Oregon                5842 non-null   int64
 55  State_Pennsylvania          5842 non-null   int64
 56  State_Rhode Island          5842 non-null   int64
 57  State_South Carolina        5842 non-null   int64
 58  State_South Dakota          5842 non-null   int64
 59  State_Tennessee             5842 non-null   int64
 60  State_Texas                 5842 non-null   int64
 61  State_Utah                  5842 non-null   int64
 62  State_Vermont               5842 non-null   int64
 63  State_Virginia              5842 non-null   int64
 64  State_West Virginia         5842 non-null   int64
 65  State_Wisconsin             5842 non-null   int64
 66  State_Wyoming               5842 non-null   int64
dtypes: float64(1), int64(66)
memory usage: 3.0 MB

In [4]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Units Sold  5842 non-null   int64
dtypes: int64(1)
memory usage: 45.8 KB

In [5]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504 entries, 0 to 2503
Data columns (total 67 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month                       2504 non-null   int64
 1   Day                         2504 non-null   int64
 2   Gender                      2504 non-null   int64
 3   Price per Unit              2504 non-null   float64
 4   Retailer_Amazon             2504 non-null   int64
 5   Retailer_Foot Locker        2504 non-null   int64
 6   Retailer_Kohl's             2504 non-null   int64
 7   Retailer_Sports Direct      2504 non-null   int64
 8   Retailer_Walmart            2504 non-null   int64
 9   Retailer_West Gear          2504 non-null   int64
 10  Region_Midwest              2504 non-null   int64
 11  Region_Northeast            2504 non-null   int64
 12  Region_South                2504 non-null   int64
 13  Region_Southeast            2504 non-null   int64
 14  Region_West                 2504 non-null   int64
 15  Sales Method_In-store       2504 non-null   int64
 16  Sales Method_Online         2504 non-null   int64
 17  Sales Method_Outlet         2504 non-null   int64
 18  Product_ Apparel            2504 non-null   int64
 19  Product_ Athletic Footwear  2504 non-null   int64
 20  Product_ Street Footwear    2504 non-null   int64
 21  State_Alabama               2504 non-null   int64
 22  State_Alaska                2504 non-null   int64
 23  State_Arizona               2504 non-null   int64
 24  State_Arkansas              2504 non-null   int64
 25  State_California            2504 non-null   int64
 26  State_Connecticut           2504 non-null   int64
 27  State_Delaware              2504 non-null   int64
 28  State_Florida               2504 non-null   int64
 29  State_Georgia               2504 non-null   int64
 30  State_Hawaii                2504 non-null   int64
 31  State_Idaho                 2504 non-null   int64
 32  State_Illinois              2504 non-null   int64
 33  State_Indiana               2504 non-null   int64
 34  State_Iowa                  2504 non-null   int64
 35  State_Kansas                2504 non-null   int64
 36  State_Kentucky              2504 non-null   int64
 37  State_Louisiana             2504 non-null   int64
 38  State_Maine                 2504 non-null   int64
 39  State_Maryland              2504 non-null   int64
 40  State_Massachusetts         2504 non-null   int64
 41  State_Michigan              2504 non-null   int64
 42  State_Mississippi           2504 non-null   int64
 43  State_Missouri              2504 non-null   int64
 44  State_Montana               2504 non-null   int64
 45  State_Nebraska              2504 non-null   int64
 46  State_New Hampshire         2504 non-null   int64
 47  State_New Jersey            2504 non-null   int64
 48  State_New Mexico            2504 non-null   int64
 49  State_New York              2504 non-null   int64
 50  State_North Carolina        2504 non-null   int64
 51  State_North Dakota          2504 non-null   int64
 52  State_Ohio                  2504 non-null   int64
 53  State_Oklahoma              2504 non-null   int64
 54  State_Oregon                2504 non-null   int64
 55  State_Pennsylvania          2504 non-null   int64
 56  State_Rhode Island          2504 non-null   int64
 57  State_South Carolina        2504 non-null   int64
 58  State_South Dakota          2504 non-null   int64
 59  State_Tennessee             2504 non-null   int64
 60  State_Texas                 2504 non-null   int64
 61  State_Utah                  2504 non-null   int64
 62  State_Vermont               2504 non-null   int64
 63  State_Virginia              2504 non-null   int64
 64  State_West Virginia         2504 non-null   int64
 65  State_Wisconsin             2504 non-null   int64
 66  State_Wyoming               2504 non-null   int64
dtypes: float64(1), int64(66)
memory usage: 1.3 MB

Allocate into respective category

In [6]:
# select numerical variables
numerical_cols = ['Price per Unit']
x_train_numerical = x_train[numerical_cols]

# select categorical variables
categorical_cols = ['Month', 'Day', 'Gender', 
       'Retailer_Amazon', 'Retailer_Foot Locker', "Retailer_Kohl's",
       'Retailer_Sports Direct', 'Retailer_Walmart', 'Retailer_West Gear',
       'Region_Midwest', 'Region_Northeast', 'Region_South',
       'Region_Southeast', 'Region_West', 'Sales Method_In-store',
       'Sales Method_Online', 'Sales Method_Outlet', 'Product_ Apparel',
       'Product_ Athletic Footwear', 'Product_ Street Footwear',
       'State_Alabama', 'State_Alaska', 'State_Arizona', 'State_Arkansas',
       'State_California', 'State_Connecticut', 'State_Delaware',
       'State_Florida', 'State_Georgia', 'State_Hawaii', 'State_Idaho',
       'State_Illinois', 'State_Indiana', 'State_Iowa', 'State_Kansas',
       'State_Kentucky', 'State_Louisiana', 'State_Maine', 'State_Maryland',
       'State_Massachusetts', 'State_Michigan', 'State_Mississippi',
       'State_Missouri', 'State_Montana', 'State_Nebraska',
       'State_New Hampshire', 'State_New Jersey', 'State_New Mexico',
       'State_New York', 'State_North Carolina', 'State_North Dakota',
       'State_Ohio', 'State_Oklahoma', 'State_Oregon', 'State_Pennsylvania',
       'State_Rhode Island', 'State_South Carolina', 'State_South Dakota',
       'State_Tennessee', 'State_Texas', 'State_Utah', 'State_Vermont',
       'State_Virginia', 'State_West Virginia', 'State_Wisconsin',
       'State_Wyoming']
x_train_categorical = x_train[categorical_cols]

Numerical variables

Mutual information

In [7]:
from sklearn.feature_selection import mutual_info_regression

# Compute mutual information between each feature in X and y
mutual_info1 = mutual_info_regression(x_train_numerical, y_train, random_state=42)

# Create a DataFrame to store the mutual information scores for each feature
mi_df1 = pd.DataFrame({'feature': numerical_cols, 'mi_score': mutual_info1})

# Sort the features by their mutual information scores in descending order
mi_df1 = mi_df1.sort_values(by='mi_score', ascending=False)

# Print the mutual information scores for each feature
mi_df1

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          feature  mi_score
0  Price per Unit  0.398104

Categorical variables

In [8]:
from sklearn.feature_selection import mutual_info_regression

# Compute mutual information between each feature in X and y
mutual_info2 = mutual_info_regression(x_train_categorical, y_train, random_state=42)

# Create a DataFrame to store the mutual information scores for each feature
mi_df2 = pd.DataFrame({'feature': categorical_cols, 'mi_score': mutual_info2})

# Sort the features by their mutual information scores in descending order
mi_df2 = mi_df2.sort_values(by='mi_score', ascending=False)

# Print the mutual information scores for each feature
mi_df2

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                     feature  mi_score
14     Sales Method_In-store  0.205902
15       Sales Method_Online  0.166341
16       Sales Method_Outlet  0.110433
19  Product_ Street Footwear  0.070983
10          Region_Northeast  0.067804
..                       ...       ...
34              State_Kansas  0.000000
35            State_Kentucky  0.000000
36           State_Louisiana  0.000000
45       State_New Hampshire  0.000000
28             State_Georgia  0.000000

[66 rows x 2 columns]

In [9]:
mi_df2[1:33]

                       feature  mi_score
15         Sales Method_Online  0.166341
16         Sales Method_Outlet  0.110433
19    Product_ Street Footwear  0.070983
10            Region_Northeast  0.067804
4         Retailer_Foot Locker  0.033003
9               Region_Midwest  0.032561
11                Region_South  0.029796
17            Product_ Apparel  0.026571
52              State_Oklahoma  0.025385
56        State_South Carolina  0.024188
2                       Gender  0.024177
1                          Day  0.023888
49        State_North Carolina  0.023134
18  Product_ Athletic Footwear  0.021242
12            Region_Southeast  0.021136
13                 Region_West  0.020605
0                        Month  0.018943
47            State_New Mexico  0.018839
60                  State_Utah  0.018821
24            State_California  0.018620
50          State_North Dakota  0.016081
25           State_Connecticut  0.015412
30                 State_Idaho  0.015200
6       Retailer_Sports Direct  0.014531
37                 State_Maine  0.014347
20               State_Alabama  0.013659
8           Retailer_West Gear  0.013463
55          State_Rhode Island  0.013213
5              Retailer_Kohl's  0.013093
41           State_Mississippi  0.012275
29                State_Hawaii  0.011073
48              State_New York  0.010610

In [10]:
mi_df2[33:66]

                feature  mi_score
22        State_Arizona  0.010378
64      State_Wisconsin  0.009796
42       State_Missouri  0.009718
27        State_Florida  0.009558
21         State_Alaska  0.008723
43        State_Montana  0.008476
39  State_Massachusetts  0.007527
54   State_Pennsylvania  0.007397
65        State_Wyoming  0.006997
31       State_Illinois  0.006677
33           State_Iowa  0.006050
44       State_Nebraska  0.005137
23       State_Arkansas  0.004624
46     State_New Jersey  0.003992
51           State_Ohio  0.003946
38       State_Maryland  0.003437
3       Retailer_Amazon  0.002867
32        State_Indiana  0.002223
59          State_Texas  0.001788
26       State_Delaware  0.001054
57   State_South Dakota  0.000685
61        State_Vermont  0.000519
63  State_West Virginia  0.000000
62       State_Virginia  0.000000
7      Retailer_Walmart  0.000000
40       State_Michigan  0.000000
58      State_Tennessee  0.000000
53         State_Oregon  0.000000
34         State_Kansas  0.000000
35       State_Kentucky  0.000000
36      State_Louisiana  0.000000
45  State_New Hampshire  0.000000
28        State_Georgia  0.000000

We will drop the ['State_West Virginia', 'State_Virginia',
                         'Retailer_Walmart', 'State_Michigan',
                         'State_Tennessee','State_Oregon',
                         'State_Kansas','State_Kentucky',
                         'State_Louisiana','State_New Hampshire',
                         'State_Georgia']

In [11]:
x_train1 = x_train.drop(['State_West Virginia', 'State_Virginia',
                         'Retailer_Walmart', 'State_Michigan',
                         'State_Tennessee','State_Oregon',
                         'State_Kansas','State_Kentucky',
                         'State_Louisiana','State_New Hampshire',
                         'State_Georgia'], axis=1)

In [12]:
x_test1 = x_test.drop(['State_West Virginia', 'State_Virginia',
                         'Retailer_Walmart', 'State_Michigan',
                         'State_Tennessee','State_Oregon',
                         'State_Kansas','State_Kentucky',
                         'State_Louisiana','State_New Hampshire',
                         'State_Georgia'], axis=1)

Export the clean the dataset for the operating margin

In [13]:
x_train1.to_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_train_unit_clean.csv', index=False)
x_test1.to_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_test_unit_clean.csv', index=False)